@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');

* {
    padding: 0;
    margin: 0;
    font: 14px;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.main {
    display: flex;
    height: 100vh;
    z-index: 0;   
}

table {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: auto;
}

tr, td {
    border: 2px solid black;
    width: 100px;
    height: 75px;
    text-align: center;
    cursor: pointer;
}

.textColumn{
    float: left;
    border: 5px ridge lightblue;
    display: flex;
    width: 25%;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    color: antiquewhite;
    height: 75%;
    font-size: 1rem;
    word-wrap: break-word;
    font-family: 'Cute Font', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#restart {
    font: 2rem;
    border-radius: 30%;
    padding: 15px;
    margin: 15px; 
    color: whitesmoke;
    box-sizing: border-box;
    text-align: center;
    width: 80px;
    cursor: pointer;
    opacity: .5;
    display: flex;
    z-index: 1;
    background: crimson;
}

#restart:hover {
    opacity: 1;
    background-color: red;
    box-shadow: 10px 5px 5px black;
    color: white;
    border-radius: 50%;
    font-family: 'Chilanka', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
}

div.chipRed, div.chipBlack {
    border-radius: 50%;
    z-index: 1;
    font-size: 2rem;
    padding: 8px;
    border: 2px solid #666;
    text-align: center;
    width: 80%;
    height: 80%;
}

.chipRed {
    background-color: red;
}

.chipBlack {
    background-color: black;
}

